@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

*{
    font-family: "Manrope", sans-serif;
}

body {
    background: #040C18;
}

/*Nav */

.navbar {
    padding: 40px 120px 10px 120px;
}

.in-btn {
    border: none;
    background: transparent; 
    color: #fff;
}

.up-btn {
    width: 142px;
    height: 48px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: #FF4820;
}

/* First Section */

.first-section {
    background: linear-gradient(158deg, rgba(0,40,83,1) 15%, rgba(4,12,24,1) 58%);
}

.head-texts{
    font-weight: 800;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.first-sect-row {
    padding-bottom: 40px;
}

.first-sect-texts h2 {
    font-size: 50px;
    line-height: 75px;
}

.first-sect-texts p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27.3px;
    color: #81AFDD;
}

.first-sect-img img {
    width: 100%;
    height: 100%;
}

input {
    background: #052D56;;
    padding: 15px 130px 15px 15px;
    border: none;
    outline: none;
    color: #3D6184;
    border-radius: 5px 0 0 5px;
}

.first-sect-texts button {
    padding: 15px 30px;
    color: #fff;
    background: #FF4820;
    border: none;
    border-radius: 0 5px 5px 0;
}

.users {
    display: flex;
    justify-content: center;
}

.users img {
    max-width: 100%;
    padding-bottom: 30px;
}

/* Second section */

.comp-logo {
    display: flex;
    justify-content: center;
}

.para-text {
    color: #81AFDD;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.second-sect-text {
    padding: 35px 10px 30px 20px;
    background: rgb(27,120,222);
    background: linear-gradient(346deg, rgba(27,120,222,1) 5%, rgba(15,66,121,1) 20%);
}

.subhead-text {
    font-weight: 600;
    color: #fff;
}

.second-sect-text h4 {
    font-size: 24px;
    letter-spacing: 4%;
    padding-top: 10px;
} 

.second-section-heads {
    margin-top: 50px;
}


.second-sect-text h3 {
    font-size: 34px;
    line-height: 45px;
    padding-top: 30px;
}

.second-sect-text h5, .third-section h5 a, .fourth-sect-img h5 a, .access-link a {
    font-weight: 500;
    font-size: 16px;
    color: #FF8A71;
    padding-top: 45px;
    text-decoration: none;
}

/* Third Section  */

.third-section {
    padding-top: 80px;
}

.third-section h4 {
    font-size: 18px;
    line-height: 24px;
}

.third-section p {
    font-size: 14px;
    line-height: 24px;
}

/* Fourth Section */
.fourth-section {
    padding-top: 80px;
}

.fourth-sect-img {
    position: relative;
}

.fourth-sect-img img {
    width: 100%;
}

.fourth-sect-img-two {
    position: absolute;
    top: 9.5%;
    left: 15%;
}

.fourth-sect-text {
    padding: 240px 0 0 30px;
}

.diff-link a {
    color: #71E5FF;
}

.grad-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    gap: 100px;
    background: linear-gradient(to right, rgb(174, 103, 250), rgb(250, 152, 103));
    padding: 50px 20px 50px 30px;
    border-radius: 10px;
}

.grad-texts {
    color: #000;
}

.grad-texts p {
    font-weight: 500;
    font-size: 12px;
}

.grad-texts h4 {
    font-weight: 800;
    font-size: 24px;
}

.grad-btn button {
    padding: 20px 65px;
    border-radius: 40px;
    background: #000;
    color: #fff;
    border: none;
}

.grad-header {
    margin-top: 100px; 
}

.grad-header h2, footer h2 {
    font-size: 52px;
    line-height: 75px;
    letter-spacing: -4%;
}

/* Fifth Section */

.fifth-section {
    margin-top: 100px;
    max-width: 90%;
}

.four-card, .early-btn {
    display: flex;
    justify-content: center;
}

.card {
    background: #052D56;
    color: white;
    height: 100%;
    max-width: 19rem;
}

.date-para {
    font-size: 10px;
    font-weight: 700;
}

.card-head {
    font-weight: 800;
    font-size: 15px;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.card a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.card a:hover {
    color: #3D6184;
}

/* Footer  */

footer {
    background: #031B34;
    margin-top: 130px;
    padding: 110px 0 30px 0;
}

footer h2 {
    text-align: center; 
}

.early-btn button {
    padding: 15px 40px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.footer-main {
    margin-top: 160px;
}

.footer-main p, .footer-main p a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

.footer-main p a:hover {
    color: #3D6184;
}

.footer-main h6 {
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}


@media screen and (min-width: 200px) and (max-width: 550px) {
    .navbar {
        padding: 40px 10px;
    }

    .first-sect-row {
        margin-top: -30px;
    }

    .first-sect-texts h2, .first-sect-texts p, .third-section {
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    input, .first-sect-texts button {
        border-radius: 5px;
    }

    .comp-logo img {
        width: 100%;
    }

    .third-section .row {
        padding-left: 0 !important;
    }

    .early-text {
        padding-left: 0 !important;
    }

    .early-text {
        margin: 10px auto !important;
    }

    br {
        display: none;
    }

    .fourth-sect-img-two {
        position: absolute;
        top: 5%;
        left: 15%;
    }

    .fourth-sect-text {
        padding: 40px 0 0 30px;
    }

    .grad-header h2 {
        text-align: center;
        font-size: 43px;
    } 

    .footer-img {
        display: flex;
        justify-content: center;
    }
    
    .footer-main br {
        display: block;
    }

    .footer-main h6 {
        text-align: center;
        margin-top: 40px;
        padding-bottom: -20px;
    }

    .footer-main p {
        text-align: center;
    }
}

@media screen and (min-width: 549px) and (max-width: 920px) {
    .navbar {
        padding: 40px 30px;
    }

    .second-sect-text, .third-section  {
        text-align: center;
    }
    
    .second-sect-text br {
        display: none;
    }

    .comp-logo img {
        width: 100%;
    }

    .third-section .row {
        padding-left: 0 !important;
    }

    .early-text {
        padding-left: 0 !important;
    }

    .early-text {
        margin: 10px auto !important;
    }

    .fourth-sect-img-two {
        top: 29%;
        left: 27%;
    }

    .fourth-sect-text {
        padding: 30px 0 0 30px;
    }

    footer h2 br {
        display: none;
    }
}

@media screen and (min-width: 919px) and (max-width: 1100px) {
    .navbar {
        padding: 40px 30px;
    }

    .comp-logo img {
        width: 100%;
    }

    .third-section .row {
        padding-left: 0 !important;
    }

    .early-text {
        margin: 10px auto !important;
    }

    .fourth-sect-img-two {
        top: 29%;
        left: 27%;
    }

    .fourth-sect-text {
        padding: 30px 0 0 30px;
    }
}



